@charset "UTF-8";

/*studypark footer style sheet*/

.footer{
	width:100%; 
	margin:0 auto;
	background:rgb(224, 224, 224);
	height:70px;
	position: absolute; 
	padding: 30px 0; 
	
/*	text-align: center;*/
}
.footerBox{
	width:55%;
	margin: 0 auto;
}
..footerUl {
	list-style:none;
}
.footerUl li{
	display:inline-block;
	padding:5px;
}
.footerUl2{
	list-style:none;
}
.footerUl2 li{
	padding:5px;
}